{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
	<form action="" method="post">
		{% csrf_token %}
		<label for="">Username</label>
		<input
			type="text"
			placeholder="Username"
			value="username"
			name="username"
		/>
		<label for="">Password</label>
		<input
			type="password"
			placeholder="password"
			value="password"
			name="password"
		/>
		<button type="submit">Login</button>
	</form>
	<p>Haven't signed up yet?</p>
	<a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}

<div>
	<form action="" method="post">
		{% csrf_token %} {{form}}
		<button type="submit">Register</button>
	</form>
	<p>Already signed up?</p>
	<a href="{% url 'login' %}">login</a>
</div>

{% endif %} {% endblock content %}
